.challengeBoxContainer{
    
    border-radius:5px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
    background: var(--background-dark2-5);
    
}

.challengeNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.challengeNotActive strong{
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.4;
    cursor:default;  
    margin-top: 15%;
}

.challengeNotActive p{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height:1.4;
    max-width: 70%;
    margin-top: 15%;
    cursor:default;
    margin-bottom:32%;
    
}

.challengeNotActive p img{
    margin-bottom: 15%;
    margin-top: 15%;
    
}

.challengeActive{
    height:100%;
    display:flex;
    flex-direction: column;
}

.challengeActive header{
    color: var(--blue-dark);
    font-weight: 600;
    font-size: 1.25rem;
    padding:0 2rem 1.5rem;
    border-bottom: 1px solid rgba(101, 96, 148, 0.8);
}

.challengeActive main{
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center; 
    margin-top: 15%;
    
}

.challengeActive main strong{
    font-weight: 600;
    font-size: 2rem;
    color: var(--title-dark);
    margin: 10% 0 1rem;
    cursor:default;
    
    
}

.challengeActive main p{
    line-height:1.5;
    cursor:default;
    margin-top: 5%;
    
}


.challengeActive footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 15%;
    margin-bottom: 5%;
}

.challengeActive footer button{
    height:3rem;

    display:flex;
    align-items: center;
    justify-content: center; 

    border:0;
    border-radius:5px;

    color: var(--text-highlight-dark);

    font-size:1rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton{
    background: var(--red);
}


.challengeActive footer button.challengeSuceededButton{
    background: var(--green-dark);
}

.challengeActive footer button:hover{
    filter:brightness(0.9);
}

 