.CountDownContainer{
     display:flex;
     align-items: center;
     font-family: Rajdhani;
     font-weight: 600;
     color: var(--title-dark);
     
}

.CountDownContainer > div{
    flex:1;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    background: var(--background-dark3);
    box-shadow:0 0 60px rgba(0,0,0,0,0.05);
    border-radius:8px;
    font-size: 8.5rem;
    text-align: center ;
    
 }

 .CountDownContainer > div span{
    flex:1; 
    cursor:default;
    
 }

 .CountDownContainer > span{
    font-size:6.25rem;
    margin:0 0.5rem; 
    cursor:default;
    
 }

 .CountDownContainer > div span:first-child{
    border-right: 1px solid var(--background-dark2);
    cursor:default;
    border-color: var(--background-dark2);
   }

 .CountDownContainer > div span:last-child{
    border-left: 1px solid var(--background-dark2); 
    cursor:default;
    border-color: var(--background-dark2);
 }
 
 .CountDownButton{
    width:100%;
    height:5rem;
    margin-top: 2rem;
    display:flex ;
    align-items: center;
    justify-content:center;
    border-radius:5px;
    border:0;     
    background: var(--blue);
    color: var(--text-button);
    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color 0.2s;

 }

 .CountDownButton:not(:disabled):hover{
     background: var(--blue-dark)
 }

 .CountDownButtonActive{
    background: var(--red);
    color:var(--text-button);
 }

 .CountDownButtonActive:not(:disabled):hoVer{
   background: var(--red);
   color: var(--text-button);
}
 
.CountDownButton:disabled{
   background: var(--white);
   color:var(--text-dark);
   cursor:not-allowed; 
}

@media(max-width:768px){

   .CountDownContainer{
      display:flex;
      align-items: center;
      font-family: Rajdhani;
      font-weight: 600;
      color: var(--title-dark);
      
 }
 
 .CountDownContainer > div{
     flex:1;
     display:flex;
     align-items: center;
     justify-content:space-evenly;
     background: var(--background-dark3);
     box-shadow:0 0 60px rgba(0,0,0,0,0.05);
     border-radius:5px;
     font-size: 7.5rem;
     text-align: center ;
  }
 
  .CountDownContainer > div span{
     flex:1; 
     cursor:default;
  }
 
  .CountDownContainer > span{
     font-size:6.25rem;
     margin:0 0.0rem; 
     cursor:default;
  }
 
  .CountDownContainer > div span:first-child{
     border-right: 1px solid #424242;
     cursor:default;
     border-color: var(--background-dark2-5);
  }
 
  .CountDownContainer > div span:last-child{
     border-left: 1px solid #494949; 
     cursor:default;
     border-color: var(--background-dark2-5);
  }
  
  .CountDownButton{
     width:100%;
     height:4rem;
     margin-top: 2rem;
     display:flex ;
     align-items: center;
     justify-content:center;
     border-radius:5px;
     border:0;     
     background: var(--blue-dark);
     color: var(--text-button);
     font-size: 1.25rem;
     font-weight: 600;
     transition: background-color 0.2s;
 
  }
 
  .CountDownButton:not(:disabled):hover{
      background: var(--blue-dark)
  }
 
  .CountDownButtonActive{
     background: var(--fontwhite);
     color:var(--title-dark);
  }
 
  .CountDownButtonActive:not(:disabled):hoVer{
    background: var(--red);
    color: var(--fontwhite);
 }
  
 .CountDownButton:disabled{
    background: var(--text-button-ligth);
    color:var(--text);
    cursor:not-allowed; 
 }
 
}

