span.currentExperience{
    position:absolute;
    top:12px;  
    transform: translateX(+100%);
}

.experienceBar >div >div{
    height:4px;
    border-radius: 4px;
    background: var(--green);   
}
 
.experienceBar{
    display: flex;
    align-items: center;   
}

.experienceBar span{
    font-size:1rem;
    cursor:default;  
}

.experienceBar > div{
    font-size:1rem; 
    flex:1;
    height:4px;
    border-radius : 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position:relative;
}


