

.container{
    display:flex;
    justify-content:center;
    align-items: center;
}


.container input{
    display:none;
   

}

.container label{
    cursor:pointer;
    user-select: none;
    border-radius:1rem;
    background: var(--background-dark3-5);
    padding: 1.5rem;
    color: var(--fontwhite);
    width: auto;
    height: 2.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s;
    font-weight: lighter;

}


.container label:hover{
    
    filter:brightness(1.1);
}