

.Container{
    height:100vh;
    max-width:992px;
    margin:0 auto;
    padding: 2.5rem 2rem;

    display:flex;
    flex-direction: column;
}



@media(max-width:1080px){
    html{
        font-size:93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size:87.5%;
    }

}

body{
    font-family: 'Inter', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:var(--background-dark);
    color: var(--text);
}

body , input, textarea,button{
    font: 400 16px "Inter", sans-serif;
}
button{
    cursor:pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

:root{
    --fontwhite:#666;
    --background-dark:#e3e7e9;
    --background-dark2: #e3e7e9;
    --background-dark2-5: #e0e2eb;
    --background-dark3:  #fafafa;
    --background-dark3-5:  #e0e2eb;
    --gray-line: #dcdde0;
    --text:#666;
    --text-highlight:#b3b9ff;
    --title: #2e384d;
    --text-button:#e8e8f1;
    --red:#e83f5b;
    --green:#4cd62b;
    --blue: #5965e0;
    --blue-dark:#4953b8;
    --blue-twitter:#2aa9e0; 
    --text-button-ligth: #fff;
    
}

.dark-mode:root{
    --fontwhite:#fff;
    --background-dark: #121214;
    --background-dark2: #17171a;
    --background-dark2-5: #2a2a30;
    --background-dark3:  #404047;
    --background-dark3-5:  #2a2a30;
    --gray-line-dark: #323238;
    --text-dark:#a8a8b3;
    --text-highlight-dark:#ebedff;
    --title-dark: #e8e8f1;
    --red-dark:#e83f5b;
    --green-dark:#3ba81f;
    --blue: #5965e0;
    --blue-dark:#8992f5;
    --blue-twitter:#2aa9e0; 
}